@import url('https://fonts.googleapis.com/css2?family=Shafarik&display=swap');
body {
    max-width: 390px;
    background: lightgreen;
    font-family: "Shafarik", normal;

}

p {
    color: red;
    font-size: 72px;
    text-align: center;
    background: yellow;


}




















